<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoRouteSaturation</key>
	<string>sliderFormRight</string>
	<key>basicReferenceBound</key>
	<string>buttonUntilForm</string>
	<key>commandVisitorCount</key>
	<string>clipperTierBorder</string>
	<key>entropyShapeType</key>
	<string>pivotalInteractorEdge</string>
	<key>globalNavigationState</key>
	<string>cacheMethodResponse</string>
	<key>histogramSinceMemento</key>
	<string>providerFormDirection</string>
	<key>inheritedShaderShade</key>
	<string>handlerPrototypeOffset</string>
	<key>modelOfAdapter</key>
	<string>materialAlongEnvironment</string>
	<key>serviceVersusOperation</key>
	<string>rowThanAction</string>
	<key>textureBeyondScope</key>
	<string>checklistModeAcceleration</string>
</dict>
</plist>
