<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationStageRotation</key>
	<string>sampleStructureSkewx</string>
	<key>discardedCurveAlignment</key>
	<string>assetContainSingleton</string>
	<key>durationFacadePosition</key>
	<string>crudeActivitySize</string>
	<key>dynamicInterfaceBorder</key>
	<string>storeMediatorTag</string>
	<key>eventMethodState</key>
	<string>sharedSkinTension</string>
	<key>kernelSinceSingleton</key>
	<string>singletonVarSkewx</string>
	<key>methodIncludePlatform</key>
	<string>iconForAdapter</string>
	<key>queryOfDecorator</key>
	<string>nibVariableStyle</string>
	<key>referenceAgainstSingleton</key>
	<string>characterPerComposite</string>
</dict>
</plist>
