<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCellAcceleration</key>
	<string>layerActivityFeedback</string>
	<key>appbarValueDelay</key>
	<string>typicalRowLeft</string>
	<key>buttonDuringProcess</key>
	<string>publicRouterDensity</string>
	<key>inheritedResourceAlignment</key>
	<string>accordionConfigurationDelay</string>
	<key>missionBeyondWork</key>
	<string>sophisticatedRouteAcceleration</string>
	<key>sortedCompletionBottom</key>
	<string>methodEnvironmentAlignment</string>
	<key>spineUntilLayer</key>
	<string>greatAlignmentCoord</string>
	<key>unsortedTaskSkewx</key>
	<string>loopVersusParameter</string>
</dict>
</plist>
